<a class="noticia-card" href="{{ url }}">
  <div class="thumbnail">
    <img src="{{image}}" alt="" />
  </div>
  <div class="content">
    <div class="head">
      <h4>{{ title }}</h4>
      <p class="publish-date">{{ publishDate }}</p>
      <p class="first-paragraph">{{ firstParagraph }}</p>
    </div>
    <div class="tail">
      <div class="action">
        <span>Leer más</span>
        <img width="40" height="10" src="/assets/img/arrow-right.svg" alt="" />
      </div>
    </div>
  </div>
</a>
