/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color variables */
  --primary: #db5125;
  --secondary: #fff;
  --accent: #ff0000;
  --white: #fbfbfb;
  /* Font variables */
  --display-font: "Montserrat Alternates", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --body-font: "Work Sans", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: var(--white) !important;
}

/* Montserrat Alternates */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
  font-weight: bold; /* 700 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
  font-weight: normal; /* 400 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold; /* 700 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal; /* 400 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/* Work Sans */
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #d3d3d3;
  height: 80px;
  z-index: 1;
}
header > .logo,
header > .logo > img {
  height: 100%;
}
header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--display-font);
}
header > nav.mobile {
  display: none;
}
header > nav.mobile > div,
header > nav.desktop > div {
  margin-left: 24px;
}

header > nav .navlink {
  text-decoration: none;
  color: #000;
}

header > nav .navlink[aria-current="page"] {
  color: var(--primary);
}

@media screen and (max-width: 768px) {
  header > nav.desktop {
    display: none;
  }
  header > nav.mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

main {
  position: relative;
}
menu.menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: calc(100vh - 80px);
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  font-family: var(--display-font);
  font-weight: 900;
}
menu.menu li {
  list-style: none;
  padding: 1rem 2rem;
  border-bottom: 1px solid #d3d3d3;
}
menu.menu li a {
  text-decoration: none;
  color: #000;
}
#mobileMenuServiceButton {
  all: unset;
  cursor: pointer;
}
#serviceMenu {
  z-index: 2;
}

#mobileMenuButton ~ label {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.bar {
  width: 30px;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s;
}

/* Active state */
#mobileMenuButton:checked ~ label .bar:nth-child(1) {
  transform: translate(5px, 9px) rotate(45deg);
}
#mobileMenuButton:checked ~ label .bar:nth-child(2) {
  opacity: 0;
}
#mobileMenuButton:checked ~ label .bar:nth-child(3) {
  transform: translate(5px, -9px) rotate(-45deg);
}

/* Service Menu */
#mobileServiceMenuButton ~ label {
  padding: 4px 8px;
  border-radius: 20px;
}
#mobileServiceMenuButton:checked ~ label {
  color: white;
  background-color: black;
}

footer {
  background-color: var(--primary);
  color: var(--white);
  font-family: var(--title-font);
  font-size: 14px;
}
footer .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  padding: 40px 0;
  border-bottom: 1px solid var(--white);
}
footer .main .contact {
  display: flex;
  flex-direction: column;
}
footer .main .contact h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
}
footer .main .contact p {
  font-size: 14px;
}
footer .main .contact p a {
  color: var(--white) !important;
  text-decoration: none;
}
footer .main .contact .links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  margin: 20px 0;
}
footer .main .logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
}
footer .main .ods {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .main .ods h4 {
  font-weight: 700;
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
  margin-bottom: 18px;
}
footer .subfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
footer .subfooter p {
  padding-top: 18px;
}
footer .subfooter p a {
  color: var(--white) !important;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  footer .main,
  footer .subfooter {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .main .contact {
    align-items: center;
  }
  footer .main .contact p {
    text-align: center;
  }
  footer .main .contact .links {
    align-items: center;
  }
  footer .main .logos img {
    height: 38px;
    width: auto;
  }
  footer .main .ods {
    align-items: center;
  }
}
