/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color variables */
  --primary: #db5125;
  --secondary: #fff;
  --accent: #ff0000;
  --white: #fbfbfb;
  --black: #212121;
  /* Font variables */
  --display-font: "Montserrat Alternates", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --body-font: "Work Sans", sans-serif;
  --default-font-size: 1.11111vw; /* 16px on 1440px width */

  --layout-padding-x: 5.19rem; /* 83px */
  --menu-height: 6.25rem;
  --menu-height-pinned: 5rem;
  --menu-padding-x: 2.5rem;
  --menu-logo-height: 5rem;

  --font-display-title2: 900 2.5rem / normal var(--display-font);
  --font-text-xxl-2: 500 1.5rem / 2rem var(--body-font);
  --font-text-xxl: 400 1.5rem / 2rem var(--title-font);
  --font-text-xl-2: 400 1.25rem / 1.875 var(--title-font);
  --font-text-md: 400 1rem/1.75rem var(--body-font);
  --font-heading-xs: 700 1rem / normal var(--title-font);
  --font-heading-md-regular: 400 1.75rem / normal var(--title-font);
  --text-service: 3.75rem;
}

/* Breakpoints */
/* Desktop < 1920px; */
/* Tablet < 1024px; */
/* Mobile < 640px; */

/* Super desktop */
@media screen and (min-width: 1920px) {
  :root {
    --default-font-size: 20px;
  }
}
/* Tablet */
@media screen and (max-width: 1023px) {
  :root {
    --default-font-size: 2.15vw; /* 16px on 1024px width */
    --layout-padding-x: 2.625rem; /* 42px */

    --menu-height: 5rem;
    --menu-height-pinned: 5rem;
    --menu-logo-height: 3.5rem;
    --menu-padding-x: 1.25rem;

    --font-display-title2: 900 2.25rem / normal var(--display-font);
    --font-text-xxl-2: 500 1.25rem / 1.75rem var(--body-font);
    --font-text-xxl: 400 1.25rem / 1.875rem var(--title-font);
    --font-heading-md-regular: 400 1.5rem / normal var(--title-font);
    --text-service: 2rem;
  }
}
/* Mobile */
@media screen and (max-width: 640px) {
  :root {
    --default-font-size: 4.4vw; /* 16px on 640px width */
    --layout-padding-x: 1.25rem; /* 20px */

    --font-display-title2: 900 1.5rem / normal var(--display-font);
    --font-text-xxl-2: 500 1rem / 1.5rem var(--body-font);
    --font-text-xxl: 400 1rem / 1.75rem var(--title-font);
    --font-text-xl-2: 400 1rem / normal var(--title-font);
    --font-heading-xs: 700 1rem / 1.5rem var(--title-font);
    --text-service: 1rem;
  }
}

/* Montserrat Alternates */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf");
  font-weight: bold; /* 700 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf");
  font-weight: normal; /* 400 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/Montserrat_Alternates/MontserratAlternates-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: bold; /* 700 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal; /* 400 */
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/* Work Sans */
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/Work_Sans/WorkSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: var(--default-font-size);
  font-family: var(--body-font);
  color: var(--black);
  scroll-behavior: smooth;
}
body {
  overflow-x: clip;
  overscroll-behavior-y: none;
  background-color: var(--white) !important;
}

#scrollUpButton {
  position: fixed;
  bottom: 2.44rem;
  right: 1.5rem;
  width: 2.625rem;
  height: auto;
  cursor: pointer;
  z-index: 1;
}
  #scrollUpButton:hover circle  {
    fill: var(--primary);
    stroke: white;
   
  }
  #scrollUpButton:hover path {
    stroke: white;
   
  }
header {
  position: fixed;
  top: 0px;
  background-color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.09);
  z-index: 1;
  padding: 0rem var(--menu-padding-x);
  height: var(--menu-height);
  transition: height 0.3s ease-in-out;
}
#content {
  z-index: 0;
  margin-top: var(--menu-height);
}
header.is-pinned {
  height: var(--menu-height-pinned);
}

header .logo img {
  height: var(--menu-logo-height);
  width: auto;
  aspect-ratio: auto 126 / 64;
}
header > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--display-font);
}
header > nav.mobile {
  display: none;
}
header > nav.mobile > div,
header > nav.desktop > div {
  margin-left: 2.5rem;
}

header > nav .navlink,
header > nav.desktop > div > label,
header > nav.mobile > div > label {
  font-size: 0.9375rem;
  text-decoration: none;
  color: var(--black);
}

header > nav .navlink[aria-current="page"] {
  color: var(--primary);
}

@media screen and (max-width: 1023px) {
  header {
    position: relative;
  }
  header > nav.desktop {
    display: none;
  }
  header > nav.mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #content {
    margin-top: 0;
  }
}
header ~ .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
header ~ .menu menu {
  display: none;
  position: fixed;
  top: var(--menu-height);
  left: 0;
  width: 100%;
  min-height: calc(100vh - var(--menu-height));
  background-color: var(--white);
  z-index: 1;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  font-size: var(--text-service);
  font-family: var(--display-font);
  font-weight: 900;
}

header.is-pinned ~ .menu menu {
  top: var(--menu-height-pinned);
  min-height: calc(100vh - var(--menu-height-pinned));
}
header ~ .menu li {
  list-style: none;
  padding: 0.8rem 2rem;
  
}
header ~ .menu li a {
  text-decoration: none;
  color: var(--black);
}
  header ~ .menu li a:hover {
    color: var(--primary);
  }
#mobileMenuServiceButton {
  all: unset;
  cursor: pointer;
}
#serviceMenu {
  z-index: 2;
  padding-top: 3%;
  
}
@media screen and (max-width: 1023px) {
  header ~ .menu li {
    padding: 0.9rem 0.6rem;
   
  }
  #serviceMenu {
    padding-top: 20%;
  }
  header ~ .menu li a{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
  }
}
@media screen and (max-width: 640px) {
  header ~ .menu li {
    padding: 0.9rem 0.6rem;
   
  }
  #serviceMenu {
    padding-top: 50%;
  }
  header ~ .menu li a{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
  }
}

#mobileMenuButton ~ label {
  width: 1.875rem;
  height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.bar {
  width: 1.875rem;
  height: 0.125rem;
  background-color: var(--black);
  transition: transform 0.3s;
}

/* Active state */
#mobileMenuButton:checked ~ label .bar:nth-child(1) {
  transform: translate(0.3125rem, 0.5625rem) rotate(45deg);
}
#mobileMenuButton:checked ~ label .bar:nth-child(2) {
  opacity: 0;
}
#mobileMenuButton:checked ~ label .bar:nth-child(3) {
  transform: translate(0.3125rem, -0.5625rem) rotate(-45deg);
}

/* Service Menu */
#mobileServiceMenuButton ~ label {
  padding: 4px 8px;
  border-radius: 20px;
}
#mobileServiceMenuButton:checked ~ label {
  color: white;
  background-color: var(--black);
}

footer {
  background-color: var(--primary);
  color: var(--white);
  font-family: var(--title-font);
}
footer .main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  padding: 1.85rem 0;
  border-bottom: 1px solid var(--white);
}
footer .main .contact {
  display: flex;
  flex-direction: column;
}
footer .main .contact h4 {
  margin-bottom: 1rem;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
}
footer .main .contact p {
  font-size: 0.875rem;
  line-height: 1.2625rem; /* 144.286% */
  font-family: var(--title-font);
  font-weight: 600;
  letter-spacing: 0.035rem;
  margin-bottom: 1rem;
}
footer .main .contact p a {
  color: var(--white) !important;
  text-decoration: none;
}
footer .main .contact .links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}
footer .main .contact .links img {
  width: 2rem;
  height: 2rem;
}
footer .main .logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.3rem;
}
footer .main .logos img {
  height: 2.66663rem;
  width: auto;
}
footer .main .ods {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .main .ods h4 {
  margin-bottom: 1rem;
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.045rem;
  margin-right: 0.6rem;
  text-align: right;
}
footer .main .ods img {
  width: 13.32113rem;
  height: auto;
}
footer .subfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.92rem 0 1rem 0;
}
footer .subfooter img {
  width: 15.61006rem;
  height: auto;
}
footer .subfooter p {
  padding-top: 0.75rem;
}
footer .subfooter p a {
  color: var(--white) !important;
  text-decoration: none;
}
@media screen and (max-width: 1023px) {
  footer .main {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 1.25rem;
  }
  footer .main .logos {
    margin-bottom: 4rem;
    gap: 1.5rem;
  }
  footer .main .logos img {
    height: 1.9rem;
    width: auto;
  }
  footer .main .contact {
    align-items: center;
  }
  footer .main .contact p {
    text-align: center;
  }
  footer .main .contact .links {
    margin-top: 2rem;
    align-items: center;
  }
  footer .main .ods {
    align-items: center;
  }
  footer .main .ods h4 {
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }
  footer .main .ods img {
    margin-bottom: 4rem;
  }
  footer .subfooter {
    text-align: center;
    font-size: 0.75rem;
  }
  footer .subfooter img {
    width: 12.61263rem;
  }
}

.button-primary {
  display: inline-block;
  font-family: var(--title-font);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3875rem; /* 148% */
  letter-spacing: 0.0375rem;
  padding: 0.5625rem 1.5rem;
  border-radius: 1.875rem;
  background-color: var(--primary);
  color: var(--white);
  text-decoration: none;
  transition: .5s;
}
  .button-primary:hover {
    box-shadow: 8px 8px #e48f75;
    transition: .5s;
  }
