:root {
  --intro-font-size: 2rem;
  --intro-padding-y: 3.5rem var(--layout-padding-x) 1.5rem var(--layout-padding-x);

  --section-padding: 3.75rem var(--layout-padding-x);
  --section-gap: 5rem;
  --section-icon-height: 8.5rem;
  --section-icon-margin-bottom: 1.5rem;
  --section-title-font-size: 2.25rem;
  --section-title-margin-bottom: 1.25rem;
  --section-body-font-size: 1.125rem;
  --section-body-line-height: 1.73rem;
  --section-body-margin-bottom: 3rem;

  --citizen-body-font-size: 1.5rem;
  --citizen-gap: 3rem;
  --citizen-botton-image-height: 30rem;

  --projects-title-margin-bottom: 3.75rem;
  --projects-project-list-gap: 3.75rem;
}
@media screen and (max-width: 1023px) {
  :root {
    --intro-font-size: 1.75rem;
    --intro-padding-y: 3.5rem var(--layout-padding-x) 1.5rem var(--layout-padding-x);

    --section-padding: 2.5rem var(--layout-padding-x);
    --section-gap: 2.5rem;
    --section-icon-margin-bottom: 2.5rem;
    --section-title-font-size: 2rem;

    --citizen-body-font-size: 1.25rem;
    --citizen-gap: 2.5rem;
    --citizen-botton-image-height: 16.6725rem;

    --projects-title-margin-bottom: 2.5rem;
    --projects-project-list-gap: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --intro-font-size: 1.25rem;
    --intro-padding-y: 3rem var(--layout-padding-x) 1.5rem var(--layout-padding-x);

    --section-padding: 2.5rem var(--layout-padding-x);
    --section-icon-height: 6.25rem;
    --section-title-font-size: 1.5rem;
    --section-body-font-size: 1rem;
    --section-body-line-height: 1.5rem;
    --section-body-margin-bottom: 2.25rem;

    --citizen-body-font-size: 1.125rem;
    --citizen-botton-image-height: 25.67031rem;
  }
}

section.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--white);
  overflow-y: hidden;
  z-index: 0;
}
section.hero h1 {
  font-family: var(--display-font);
  font-weight: 900;
  text-align: center;
  font-size: 4.5rem;
  width: 100%;
  max-width: 60rem;
  margin: 5.97rem auto 0 auto;
  z-index: 1;
}
section.hero h1 span {
  color: var(--primary);
}
section.hero .scroll-down {
  position: absolute;
  width: 7.8125rem;
  height: auto;
  bottom: 5.84rem;
  right: 5rem;
  transform: translateX(-50%);
  z-index: 1;
}
section.hero .phone {
  max-width: 35.94931rem;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 1023px) {
  section.hero h1 {
    padding: 0 3.8rem;
    font-size: 4.5rem;
  }
  section.hero .scroll-down {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  section.hero h1 {
    width: 19.375rem;
    font-size: 2.375rem;
    padding: 0;
  }
  section.hero img {
    max-width: 100%;
    width: 100%;
  }
  section.hero .scroll-down {
    display: none;
  }
}

section.intro {
  font-family: var(--title-font);
  font-weight: 300;
  font-size: var(--intro-font-size);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--primary);
  width: 100%;
  text-align: center;
  padding: var(--intro-padding-y);
  margin-bottom: 1.25rem;
}
section.intro p {
  margin-bottom: 1.5rem;
  max-width: 53.27588rem;
}
section.intro img {
  height: 3.25rem;
}

section.bigdata,
section.participation,
section.citizen,
section.projects {
  width: 100%;
  margin: auto;
  padding: var(--section-padding);
}
@media screen and (min-width: 1920px) {
  section.bigdata,
  section.participation,
  section.citizen,
  section.projects {
    max-width: 1500px;
  }
}

section.bigdata {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 4fr 7fr;
  gap: var(--section-gap);
  align-items: center;
}
section.bigdata .right img {
  width: 100%;
  margin: auto;
}
section.bigdata .left img {
  height: var(--section-icon-height);
  width: auto;
  margin-bottom: var(--section-icon-margin-bottom);
}
section.bigdata .left ul {
  font-family: var(--display-font);
  font-weight: 700;
  font-size: var(--section-title-font-size);
  line-height: 2.875rem;
  list-style: none; /* Remove default bullets */
  margin-bottom: var(--section-title-margin-bottom);
}
section.bigdata .left ul li {
  position: relative;
  margin-left: 2rem;
}
section.bigdata .left ul li::before {
  position: absolute;
  top: -0.25rem;
  left: -2rem;
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: var(--primary); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 3.75rem;
}
section.bigdata .left p {
  margin-top: 1.25rem;
  margin-left: 2rem;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: var(--section-body-font-size);
  line-height: var(--section-body-line-height);
  margin-bottom: var(--section-body-margin-bottom);
}
section.bigdata .left a {
  margin-left: 2rem;
}
@media screen and (max-width: 1023px) {
  section.bigdata {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.bigdata .left p {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 640px) {
  section.bigdata {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section.bigdata .left img {
    width: 6.57031rem;
  }
  section.bigdata .left ul {
    line-height: 2.25rem;
  }
  section.bigdata .left p {
    margin-left: 0;
  }
  section.bigdata .left a {
    margin-left: 0;
  }
}

section.participation {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 6fr 5fr;
  gap: var(--section-gap);
  align-items: center;
}
section.participation .left img {
  width: 100%;
  margin: auto;
}
section.participation .right {
  margin-right: 5rem;
}
section.participation .right img {
  height: var(--section-icon-height);
  width: auto;
  margin-bottom: var(--section-icon-margin-bottom);
}
section.participation .right h3 {
  font-family: var(--display-font);
  font-weight: 700;
  font-size: var(--section-title-font-size);
  line-height: 2.875rem;
  list-style: none; /* Remove default bullets */
  margin-bottom: var(--section-title-margin-bottom);
}
section.participation .right p {
  margin-top: 1.25rem;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: var(--section-body-font-size);
  line-height: var(--section-body-line-height);
  margin-bottom: var(--section-body-margin-bottom);
}
@media screen and (max-width: 1023px) {
  section.participation {
    display: flex;
    flex-direction: column-reverse;
  }
  section.participation .right {
    margin-right: 0;
  }
}

section.citizen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.citizen h3 {
  font-family: var(--display-font);
  font-weight: 700;
  font-size: var(--section-title-font-size);
  text-align: center;
  margin-bottom: 1.25rem;
}
section.citizen p {
  text-align: center;
  font-family: var(--body-font);
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 140%; /* 2.1rem */
  margin-bottom: var(--citizen-gap);
}

section.citizen .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 1.56rem;
  margin-bottom: var(--citizen-gap);
}

section.citizen .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 18.75rem;
  margin: auto;
  padding: 2rem;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 0.81rem;
  box-shadow: 0 0.25rem 1.4375rem 0 rgba(0, 0, 0, 0.15);
}
section.citizen .card img {
  width: 5.125rem;
  height: auto;
}
section.citizen .card h4 {
  font-family: var(--title-font);
  font-size: 1rem;
  font-weight: 600;
  line-height: 147.1%; /* 23.536px */
  text-transform: uppercase;
}

section.citizen .citizen-img {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
  object-fit: cover;
  object-position: top;
}
@media screen and (max-width: 1023px) {
  section.citizen .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  section.citizen .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.projects .icon {
  height: var(--section-icon-height);
  width: auto;
  margin-bottom: var(--section-icon-margin-bottom);
}
section.projects > h3 {
  font-family: var(--display-font);
  font-weight: 700;
  font-size: var(--section-title-font-size);
  margin-bottom: var(--projects-title-margin-bottom);
}
section.projects .project-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: start;
  gap: var(--projects-project-list-gap);
  margin-bottom: var(--projects-project-list-gap);
}
section.projects .button-primary {
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 1023px) {
  section.projects .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  section.projects .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
