:root {
  --servicios-kit-digital-card-p: 2.5rem 3.75rem;
}
@media screen and (max-width: 1023px) {
  :root {
    --servicios-kit-digital-card-p: 1.5rem 2.5rem;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --servicios-kit-digital-card-p: 1.25rem 2rem;
  }
}

.kit-digital .hero .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.kit-digital .hero .right .bottom {
  margin-top: 4rem;
}
.kit-digital .hero .right .bottom p {
  font: var(--font-text-label-s);
  color: #7a7a7a;
}
.kit-digital .hero .digitalizadores-logo {
  width: 100%;
}

.kit-digital .information {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
  margin: 2rem var(--layout-padding-x);
}
.kit-digital .information .information-img {
  width: 32rem;
  height: auto;
  border-radius: 1rem;
}
.kit-digital .information .information-p-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.kit-digital .information .information-p-title img {
  width: 2rem;
  height: 2rem;
  margin-right: 1.38rem;
}
.kit-digital .information p {
  position: relative;
  margin-left: 3.38rem;
}
.kit-digital .information h2 {
  font: var(--font-heading-xl);
}
.kit-digital .information p {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font: var(--font-text-md);
}
@media screen and (max-width: 1023px) {
  .kit-digital .information .information-img {
    display: none;
  }
}

.kit-digital .soluciones {
  padding-top: var(--layout-padding-top);
  padding-bottom: var(--layout-padding-top);
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 1.5rem var(--spacing-6, 1.5rem);
  flex-wrap: wrap;
}
.kit-digital .soluciones .soluciones-icon {
  width: 6.073rem;
  height: 7.93313rem;
}
.kit-digital .soluciones h2 {
  text-align: center;
  max-width: 42.22438rem;
  font: var(--font-heading-xl);
  padding-bottom: calc(var(--layout-padding-top) / 2);
}
.kit-digital .soluciones .card-list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-right: var(--layout-padding-x);
  margin-left: var(--layout-padding-x);
}
.kit-digital .soluciones .card-list .card img {
  width: 5rem;
  height: 5rem;
}
.kit-digital .soluciones .card-list .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 38.25rem;
  height: 100%;
  min-height: 0;
  flex: 1 1 50%;
  padding: var(--servicios-kit-digital-card-p);
  gap: 2.5rem;
  flex-shrink: 0;
  border-radius: var(--spacing-4, 1rem);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
  text-align: center;
}
.kit-digital .soluciones .card-list .card .card-category-title {
  font: var(--font-heading-xl);
  margin-bottom: 1rem;
}
.kit-digital .soluciones .card-list .card .card-product-title {
  font: var(--font-heading-md);
}
.kit-digital .soluciones .card-list .card .card-desc {
  margin-top: 1rem;
  font: var(--font-text-md);
}
.kit-digital .soluciones .card-list .card .card-features {
  width: 100%;
  margin-left: 1rem;
  text-align: left;
  font: var(--font-text-md);
}
.kit-digital .soluciones .card-list .card .card-price {
  font: var(--font-heading-md);
}
.kit-digital .soluciones .card-list .card .card-price-detail {
  font: var(--font-text-label-s);
}
@media screen and (max-width: 1023px) {
  .kit-digital .soluciones .card-list {
    flex-direction: column;
  }
}
