:root {
  --noticias-card-height: 43.22rem;
  --noticias-card-padding: 2.5rem;
  --noticias-card-border-radius: 1rem;
  --noticias-card-lines-padding-top: 1.5rem;
  /* fontsizes */
  --noticias-card-action-fontsize: 1rem;
  --noticias-card-image-height: 20.75rem;
}
@media screen and (max-width: 1023px) {
  :root {
    --noticias-card-height: 31.9rem;
    --noticias-card-padding: 1.5rem;
    --noticias-card-border-radius: 0.8rem;
    --noticias-card-lines-padding-top: 1rem;
    /* fontsizes */
    --noticias-card-action-fontsize: 0.7rem;
    --noticias-card-image-height: 12.5rem;
  }
}
.noticia-card {
  width: 100%;
  height: var(--noticias-card-height);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: var(--noticias-card-border-radius);
  padding: var(--noticias-card-padding);
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
  background: #fff;
  box-shadow: -3px 12px 23px 0px rgba(0, 0, 0, 0.1);
}

.noticia-card .thumbnail img {
  object-fit: cover;
  border-radius: var(--noticias-card-border-radius);
  height: var(--noticias-card-image-height);
  width: 100%;
}
.noticia-card .content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.noticia-card .publish-date,
.noticia-card h4,
.noticia-card .first-paragraph,
.noticia-card .action {
  padding-top: var(--noticias-card-lines-padding-top);
}

.noticia-card .first-paragraph {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.noticia-card h4 {
  font: var(--font-heading-notice);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.noticia-card .publish-date,
.noticia-card .first-paragraph {
  font: var(--font-text-md);
}
.noticia-card .action {
  font: var(--font-text-button-ghost);
  font-weight: 600;
  text-transform: uppercase;
}
