:root {
  --noticia-layout-padding: 3.75rem 6rem;
  --noticia-fist-item-title-font: 700 2.25rem / 2.875rem var(--title-font);
}
@media screen and (max-width: 1023px) {
  :root {
    --noticia-layout-padding: 3.75rem 2.625rem;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --noticia-layout-padding: 2.5rem 1.25rem;
  }
}
.noticias {
  max-width: 1920px;
  width: auto;
  margin: auto;
  padding: var(--noticia-layout-padding);
}
.noticias .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media screen and (min-width: 1023px) {
  .noticias .list .noticia-card:first-child {
    grid-column: 1 / span 2;
    width: 100%;
    height: 30.5rem;
    max-width: none;
    display: flex;
    flex-direction: row-reverse;
    gap: 3.75rem;
  }
  .noticias .list .noticia-card:first-child .thumbnail {
    height: 100%;
    width: 100%;
  }
  .noticias .list .noticia-card:first-child .thumbnail img {
    height: 100%;
    width: 34.6rem;
    object-fit: cover;
    aspect-ratio: auto;
  }
  .noticias .list .noticia-card:first-child .content .head h4 {
    padding-top: 0;
    font: var(--noticia-fist-item-title-font);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .noticias .list .noticia-card:first-child .content .head .first-paragraph {
    -webkit-line-clamp: 6;
    font-family: "Work Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
  }
}
@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .noticias .list .noticia-card:first-child {
    height: 52rem;
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;
    padding: 2.5rem;
  }
  .noticias .list .noticia-card:first-child .thumbnail img {
    width: 100%;
    height: 25.53788rem;
  }
  .noticias .list .noticia-card:first-child .content .head .first-paragraph {
    -webkit-line-clamp: 6;
  }
}

@media screen and (max-width: 641px) {
  .noticias .list {
    grid-template-columns: repeat(1, 1fr);
  }
  .noticias .list .noticia-card:first-child {
    grid-column: 1;
  }
}
