:root {
  --card-height: 27rem;
  --card-width: 100%;
  --card-padding: 2.62rem;

  --card-image-height: 100%;
  --card-image-width: 29rem;
  --card-image-body-gap: 2.62rem;

  --card-title-margin-bottom: 0.75rem;
  --card-subtitle-margin-bottom: 1.5rem;
  --card-client-margin-bottom: 1.5rem;

  --card-title-font: 700 2rem / normal var(--title-font);
  --card-subtitle-font: 500 1.125rem / 1.75rem var(--title-font);
  --card-client-label-font: 500 0.875rem / normal var(--title-font);
  --card-client-name-font: 500 0.9375rem / normal var(--title-font);
  --card-category-tag-font: 500 0.75rem / normal var(--title-font);
  --card-action-font: 600 0.9375rem / normal var(--title-font);

  --card-category-tag-padding: 0.5rem 1rem;
  --card-category-tag-radius: 4rem;
  --card-category-tag-margin-right: 1rem;
}
@media screen and (max-width: 1023px) {
  :root {
    --card-height: auto;
    --card-width: 100%;
    --card-padding: 1.5rem;

    --card-image-height: 12.375rem;
    --card-image-width: 100%;
    --card-image-body-gap: 1rem;

    --card-title-margin-bottom: 0.5rem;
    --card-subtitle-margin-bottom: 1rem;
    --card-client-margin-bottom: 1rem;

    --card-title-font: 700 1.25rem / 1.5rem var(--title-font);
    --card-subtitle-font: 500 1rem / 1.5rem var(--title-font);
    --card-client-label-font: 500 0.875rem / normal var(--title-font);
    --card-client-name-font: 500 0.875rem / normal var(--title-font);
    --card-category-tag-font: 500 0.5625rem / normal var(--title-font);
    --card-action-font: 600 0.9375rem / normal var(--title-font);

    --card-category-tag-padding: 0.28rem 0.5rem;
    --card-category-tag-radius: 1rem;
    --card-category-tag-margin-right: 0.5rem;
  }
}

.project-card {
  text-decoration: none;
  color: var(--black);
  display: flex;
  flex-direction: row;
  gap: var(--card-image-body-gap);
  background-color: var(--white);
  padding: var(--card-padding);
  border-radius: 1rem;
  box-shadow: 0 0.25rem 1.4375rem 0 rgba(0, 0, 0, 0.15);
  width: var(--card-width);
  min-height: var(--card-height);
  /* antialised */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.project-card .thumbnail img {
  width: var(--card-image-width);
  height: var(--card-image-height);
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
}
.project-card .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.project-card .content h4 {
  text-transform: none;
  font: var(--card-title-font);
  margin-bottom: var(--card-title-margin-bottom);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.project-card .content h5 {
  text-transform: none;
  font: var(--card-subtitle-font);
  margin-bottom: var(--card-subtitle-margin-bottom);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.project-card .content .client {
  margin-bottom: var(--card-client-margin-bottom);
}
.project-card .content .client .client-label {
  color: #747272;
  font: var(--card-client-label-font);
  margin-bottom: 1rem;
}
.project-card .content .client .client-name {
  font: var(--card-client-name-font);
}
.project-card .content .ods {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.project-card .ods img {
  width: 2.626rem;
  height: 2.626rem;
}
.project-card .categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.62rem;
}
.project-card .categories span {
  display: inline-block;
  box-sizing: border-box;
  font: var(--card-category-tag-font);
  border: 0.5px solid var(--black);
  border-radius: var(--card-category-tag-radius);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--card-category-tag-padding);
  margin-right: var(--card-category-tag-margin-right);
}
.project-card .content .action {
  display: flex;
  align-items: center;
}
.project-card .content .action span {
  font: var(--card-action-font);
  text-transform: uppercase;
  margin-right: 0.91rem;
}
.project-card .content .action img {
  width: 3.87rem;
}
@media screen and (max-width: 1023px) {
  .project-card {
    flex-direction: column;
    height: auto;
  }
}
