:root {
  --servicios-projects-title-margin-b: 3.5rem;
  --servicios-projects-project-list-gap: 3.75rem;
  --servicios-projects-padding-b: 7.5rem;

  --servicios-information-padding-y: 5rem;
  --servicios-information-gap: 3.75rem;
  --servicios-information-paragraph-title-img-width: 1.875rem;
  --servicios-information-paragraph-title-img-height: 1.875rem;
  --servicios-information-paragraph-title-img-margin: 1.38rem;

  --servicios-other-button-padding: 0.5rem 1.5rem;
  --servicios-other-button-font-size: 0.9375rem;
  --servicios-other-button-line-height: 1.8615rem;
  --servicios-other-button-font: 400 var(--servicios-other-button-font-size) /
    var(--servicios-other-button-line-height) var(--title-font);
}
@media screen and (max-width: 1023px) {
  :root {
    --servicios-projects-project-list-gap: 1.5rem;
  }
}
@media screen and (max-width: 640px) {
  :root {
    --servicios-information-padding-y: 3.75rem;
    --servicios-information-gap: 2.5rem;
    --servicios-information-paragraph-title-img-width: 1.5rem;
    --servicios-information-paragraph-title-img-height: 1.5rem;
    --servicios-information-paragraph-title-img-margin: 1rem;

    --servicios-projects-title-margin-b: 2.5rem;
    --servicios-projects-padding-b: 5rem;

    --servicios-other-button-padding: 0.25rem 0.75rem;
    --servicios-other-button-font-size: 0.875rem;
    --servicios-other-button-line-height: 1.656rem;
  }
}

.servicios section.hero {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: auto;
  padding: var(--layout-padding-top) var(--layout-padding-x);
  max-width: 1920px;
}
.servicios section.hero .right,
.servicios section.hero .left {
  flex: 1 1 0px;
}
.servicios section.hero .left {
  text-align: right;
}
.servicios section.hero h1 {
  font: var(--font-display-title2);
  margin-top: 1.5rem;
}
.servicios section.hero p {
  font: var(--font-text-xl);
  margin-top: 1.5rem;
}
.servicios section.hero .banner-img {
  height: 24rem;
  width: auto;
  margin: auto 7rem;
}
@media screen and (max-width: 1023px) {
  .servicios section.hero .banner-img {
    height: 17rem;
    width: auto;
    margin: auto 2rem;
  }
}
@media screen and (max-width: 640px) {
  .servicios section.hero {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 2rem var(--layout-padding-x);
    height: 100%;
    min-height: calc(100vh - var(--menu-height) - 1rem);
    justify-content: center;
  }
  .servicios section.hero .right,
  .servicios section.hero .left {
    flex: none;
  }
  .servicios section.hero .right {
    text-align: left;
    justify-content: end;
  }
  .servicios section.hero .banner-img {
    height: 7rem;
    margin: auto;
  }
}

.servicios section.information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--servicios-information-gap);
  margin: auto;
  padding: var(--servicios-information-padding-y) var(--layout-padding-x);
  max-width: 1920px;
}
.servicios .information .paragraph-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.servicios .information .paragraph-title img {
  width: var(--servicios-information-paragraph-title-img-width);
  height: var(--servicios-information-paragraph-title-img-height);
  margin-right: var(--servicios-information-paragraph-title-img-margin);
}
.servicios .information .paragraph-title h2 {
  font: var(--font-heading-xl);
}
.servicios .information p {
  position: relative;
  margin-left: calc(
    var(--servicios-information-paragraph-title-img-width) + 
    var(--servicios-information-paragraph-title-img-margin)
    );
  padding-top: 1rem;
  padding-bottom: 2rem;
  font: var(--font-text-md);
}

.servicios section.projects {
  width: 100%;
  margin: auto;
  padding: var(--section-padding);
  padding-bottom: var(--servicios-projects-padding-b);
  max-width: 1920px;
}

.servicios section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.servicios section.projects > h3 {
  font: var(--font-heading-lg);
  margin-bottom: var(--servicios-projects-title-margin-b);
}
.servicios section.projects .project-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: start;
  gap: var(--servicios-projects-project-list-gap);
  margin-bottom: 3.75rem;
}
.servicios section.projects .button-primary {
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 1023px) {
  .servicios section.projects .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .servicios section.projects .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.servicios section.other-services {
  display: flex;
  padding: var(--section-padding);
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.servicios section.other-services h3 {
  font-family: var(--display-font);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal; 
}

.servicios section.other-services .service-list {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  align-content: center; 
  gap: 1rem;
  align-self: stretch;
}
.servicios section.other-services .service-list a {
  text-decoration: none;
  font: var(--servicios-other-button-font);
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: 6.25rem;
  padding: var(--servicios-other-button-padding);
}
.servicios section.other-services .service-list a:hover {
  background-color: var(--primary);
  color: var(--white);
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .servicios section.other-services h3 {
    font-size: 1.5rem;
  }
}