.servicios section.hero {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin: auto;
  padding: 9.7rem var(--layout-padding-x);
}
.servicios section.hero .right,
.servicios section.hero .left {
  flex: 1 1 0px;
}
.servicios section.hero .left {
  text-align: right;
}
.servicios section.hero h1 {
  font: 900 2.5rem/3rem var(--display-font);
}
.servicios section.hero p {
  font: 300 1.25rem/2.16rem var(--body-font);
  margin-top: 1.5rem;
}
.servicios section.hero img {
  height: 24rem;
  width: auto;
  margin: auto 7rem;
}
@media screen and (min-width: 1920px) {
  .servicios section.hero {
    max-width: 1920px;
  }
}
@media screen and (max-width: 1023px) {
  .servicios section.hero img {
    height: 17rem;
    width: auto;
    margin: auto 2rem;
  }
}
@media screen and (max-width: 640px) {
  .servicios section.hero {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 2rem var(--layout-padding-x);
    height: 100%;
    min-height: calc(100vh - var(--menu-height) - 1rem);
    justify-content: center;
  }
  .servicios section.hero h1 {
    font: 900 2.25rem/3rem var(--display-font);
    margin-top: 1.5rem;
  }
  .servicios section.hero p {
    font: 300 1.125rem/2.16rem var(--body-font);
    margin-top: 1.5rem;
  }
  .servicios section.hero .right,
  .servicios section.hero .left {
    flex: none;
  }
  .servicios section.hero .right {
    text-align: left;
    justify-content: end;
  }
  .servicios section.hero img {
    height: 7rem;
    margin: auto;
  }
}

.servicios section.projects {
  width: 100%;
  margin: auto;
  padding: var(--section-padding);
}
@media screen and (min-width: 1920px) {
  .servicios section.projects {
    max-width: 1920px;
  }
}

.servicios section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
.servicios section.projects .icon {
  height: var(--section-icon-height);
  width: auto;
  margin-bottom: var(--section-icon-margin-bottom);
}
.servicios section.projects > h3 {
  font: var(--section-title-font);
  margin-bottom: var(--projects-title-margin-bottom);
}
.servicios section.projects .project-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: start;
  gap: var(--projects-project-list-gap);
  margin-bottom: var(--projects-project-list-gap);
}
.servicios section.projects .button-primary {
  width: fit-content;
  margin: auto;
}
@media screen and (max-width: 1023px) {
  .servicios section.projects .project-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .servicios section.projects .project-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
