---
title: Diseño y desarrollo
css: ["/css/servicios.css", "/css/servicios/diseno-y-desarrollo.css"]
---

<div class="servicios diseno-y-desarrollo">
  <section class="hero">
    <div class="right">
      <h1>Diseño y desarrollo de productos</h1>
      <p>
        Diseñamos, desarrollamos y gestionamos todo tipo de servicios y
        productos relacionados con el desarrollo de aplicaciones y uso de las
        nuevas tecnologías de la información y la comunicación. Elaboramos
        soluciones tecnológicas para entidades sociales, cooperativas,
        administraciones públicas, organizaciones ciudadanas y empresas.
      </p>
    </div>
    <div class="left">
      <img
        class="banner-img"
        width="269"
        height="420"
        src="/assets/img/projects-icon.svg"
        alt=""
      />
    </div>
  </section>
  <section class="information">
      <img 
        src="/assets/img/diseno-desarrollo.jpeg" 
        alt="" 
        class="information-img"
        width="506"
        height="590"
      />
    <div class="information-text">
      <div class="paragraph-title">
        <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
        />
        <h2>Diseño centrado en el Usuario</h2>
      </div>
      <p>
        Nuestro enfoque comienza con una comprensión profunda de las necesidades
        y objetivos de nuestros clientes. Al colaborar estrechamente, creamos
        productos que no solo son funcionales y eficientes, sino también
        atractivos y fáciles de usar, garantizando una buena experiencia de usuario. 
      </p>
      <div class="paragraph-title">
        <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
        />
        <h2>Sistemas Desacoplados y Escalables</h2>
      </div>
      <p>
        Nuestro enfoque comienza con una comprensión profunda de las necesidades y 
        objetivos de nuestros clientes. Al colaborar estrechamente, creamos productos
        que no solo son funcionales y eficientes, sino también atractivos y fáciles 
        de usar, garantizando una buena experiencia de usuario.
      </p>
      <div class="paragraph-title">
        <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
        />
        <h2>Soluciones para Diversos Sectores y Entidades</h2>
      </div>
      <p>
        Tenemos una amplia experiencia en la creación de productos para una variedad
        de sectores y tipos de organizaciones. Desde entidades sociales y cooperativas
        hasta administraciones públicas y empresas, hemos demostrado nuestra 
        capacidad para adaptarnos a los desafíos y necesidades específicas de cada cliente.
      </p>
    </div>
  </section>
  <section class="projects">
    <h3>Proyectos destacados</h3>
    <div class="project-list">
      {% assign filteredProyectos = collections.proyecto | categoryFilter:
      "Diseño y desarrollo" %} {% for proyecto in filteredProyectos %} {% render
      "components/project-card.html", url: proyecto.url, image:
      proyecto.data.image, title: proyecto.data.title, subtitle:
      proyecto.data.subtitle, client: proyecto.data.client, ods:
      proyecto.data.ods, categories: proyecto.data.categories %} {% endfor %}
    </div>
    <a class="button-primary" href="/proyectos/"> Ver todos los proyectos </a>
  </section>
  <section class="other-services">
    <h3>Más servicios</h3>
    <div class="service-list">
      {% assign filteredServicios = collections.servicio | excludeServiceFilter:
      "Diseño y desarrollo" %} 
      {% for servicio in filteredServicios %} 
        <a href="{{ servicio.url }}">{{ servicio.data.title }}</a>
      {% endfor %}
    </div>
  </section>
</div>
