---
title: Software de participación
css: ["/css/servicios.css", "/css/servicios/software-participacion.css"]
---

<div class="servicios software-participacion">
  <section class="hero">
    <div class="right">
      <h1>Software de participación digital</h1>
      <p>
        ENREDA es una empresa certificada y colaboradora de Consul Democracy
        Foundation para ayudar a instituciones públicas y privadas en todo el
        mundo a utilizar CONSUL, la mejor plataforma de participación digital
        existente actualmente para gobiernos más abiertos, transparentes,
        participativos e inclusivos.
      </p>
    </div>
    <div class="left">
      <img
        class="banner-img"
        width="269"
        height="420"
        src="/assets/img/participation-icon.svg"
        alt=""
      />
    </div>
  </section>
  <section class="information">
    <div class="consul-images">
      <img class="consul-mobile-img"
        src="/assets/img/consul-mobile.png" 
        alt=""
        height="636"
        width="546"
      />
      <img class="consul-awarded-img"
        src="/assets/img/un-awarded.png" 
        alt=""
        width="294"
        height="117"
      />
    </div>
    <div class="information-text">
      <div class="paragraph-title">
        <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
        />
        <h2>Libre</h2>
      </div>
      <p>
        Software libre, desarrollado por el Ayuntamiento de Madrid en 2015,
        cuenta con una potencia y versatilidad que pronto le llevaron a ser
        usada por los Gobiernos Locales de las principales capitales de España
        y Latinoamérica, hasta extenderse por cerca de 40 países. 
      </p>
      <div class="paragraph-title">
        <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
        />
        <h2>Adaptable</h2>
      </div>
      <p>
        Cualquier entidad o administración puede modificarlo y utilizarlo
        libremente, adaptándolo a sus objetivos y necesidades. 
      </p>
      <div class="paragraph-title">
        <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
        />
        <h2>Segura</h2>
      </div>
      <p>
        CONSUL cuenta con un sistema de registro que garantiza la privacidad y
        la neutralidad de la participación. Además puede integrarse con 
        sistemas de padrón o censo existentes.
      </p>
      <div class="paragraph-title">
        <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
        />
        <h2>Apoyo</h2>
      </div>
      <p>
        Apoyo continuado por parte del equipo técnico y operativo encargado de
        su desarrollo principal, así como de las demás instituciones que impulsan
        el proyecto en todo el mundo. 
      </p>
      <a 
        class="button-primary" 
        href="https://demo.consuldemocracy.org/" 
        target="_blank">
        Ver demo
      </a>
    </div>
  </section>
  <section class="projects">
    <h3>Proyectos destacados</h3>
    <div class="project-list">
      {% assign filteredProyectos = collections.proyecto | categoryFilter:
      "Software de participación" %} {% for proyecto in filteredProyectos %} {%
      render "components/project-card.html", url: proyecto.url, image:
      proyecto.data.image, title: proyecto.data.title, subtitle:
      proyecto.data.subtitle, client: proyecto.data.client, ods:
      proyecto.data.ods, categories: proyecto.data.categories %} {% endfor %}
    </div>
    <a class="button-primary" href="/proyectos/"> Ver todos los proyectos </a>
  </section>
  <section class="other-services">
    <h3>Más servicios</h3>
    <div class="service-list">
      {% assign filteredServicios = collections.servicio | excludeServiceFilter:
      "Software de participación" %} 
      {% for servicio in filteredServicios %} 
        <a href="{{ servicio.url }}">{{ servicio.data.title }}</a>
      {% endfor %}
    </div>
  </section>
</div>
