---
title: Sostenibilidad
css: ["/css/servicios.css", "/css/servicios/sostenibilidad.css"]
---

<div class="servicios sostenibilidad">
  <section class="hero">
    <div class="right">
      <h1>Sostenibilidad</h1>
      <p>
        ENREDA lleva muchos años trabajando en proyectos transformadores para la
        sociedad y desde hace tiempo la sostenibilidad ha sido un eje
        transversal de estos proyectos. Desde esta línea específica, ENREDA
        facilita a las organizaciones herramientas tecnológicas y metodológicas
        para abordar dichos cambios, para dirigir sus acciones hacia una nueva
        era donde la sostenibilidad sea unos de los ejes fundamentales de
        decisión.
      </p>
    </div>
    <div class="left">
      <img
        class="banner-img"
        width="269"
        height="420"
        src="/assets/img/sostenibilidad-icon.svg"
        alt=""
      />
    </div>
  </section>
  <section class="intro">
    <h2>Trabajamos por el planeta</h2>
    <p>
      ENREDA dispone en la actualidad de varios productos especializados en 
      distintos ámbitos de la sostenibilidad
    </p>
    <img height="40" src="/assets/img/arrow-down.svg" alt="" />
  </section>
  <section class="information">
    <div class="information-card">
      <div class="information-text">
        <div class="paragraph-title">
          <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
          />
          <h2>OpenODS</h2>
        </div>
        <p>
          Es el proyecto creado por ENREDA junto con la cooperativa 
          Working Smarter como startup especializada en la aplicación y 
          gestión de la Agenda 2030 en las organizaciones. Creemos que 
          los Objetivos de Desarrollo Sostenible es una de las mejores 
          iniciativas, con carácter global y multisectorial para aplicar 
          políticas e iniciativas concretas de sostenibilidad que sirvan
          hacer un mundo en el horizonte del 2030.<br>
          Desde esta iniciativa aportamos productos y servicios pensados
          para acelerar estas políticas, centrados en: la transparencia,
          la rendición de cuentas, la participación e inteligencia colectiva.
        </p>
        <a 
          class="button-primary" 
          href="https://openods.es/" 
          target="_blank">
          Ver proyecto
        </a>
      </div>
      <img 
      src="/assets/img/sostenibilidad-openods.png"
      alt=""
      class="information-card-img">
      </img>
    </div>
    <!--  
    <div class="information-card">
      <div class="information-text">
        <div class="paragraph-title">
          <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
          />
          <h2>UrbanData</h2>
        </div>
        <p>
          Hacemos más accesible el seguimiento de las políticas y las acciones
          públicas dirigidas al desarrollo urbano sostenible.<br>
          ENREDA ha diseñado y desarrollado una Plataforma para el seguimiento
          de los planes estratégicos e indicadores de la Agenda Urbana y 
          Agenda 2030 en la ciudad.
        </p>
        <a 
          class="button-primary" 
          href="/proyectos/urbandata" 
          target="_blank">
          Ver proyecto
        </a>
      </div>
      <img 
      src="/assets/img/sostenibilidad-urbandata.gif"
      alt=""
      id="sostenibilidad-urbandata"
      class="information-card-img">
      </img>
    </div>
    -->
    <div class="information-card">
      <div class="information-text">
        <div class="paragraph-title">
          <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
          />
          <h2>Plataforma de participación para la Agenda 2030</h2>
        </div>
        <p>
          El Programa de Naciones Unidas para el Desarrollo (PNUD) y la 
          Cooperativa Enreda han unido sus fuerzas para fomentar la 
          Participación Ciudadana en torno a la Agenda 2030.<br>
          Para lograrlo, han desarrollado un nuevo módulo qué incorpora
          los Objetivos de Desarrollo Sostenible de esta agenda a CONSUL, 
          la plataforma de participación digital más usada del mundo.
        </p>
        <a 
          class="button-primary" 
          href="/proyectos/consulsdg" 
          target="_blank">
          Ver proyecto
        </a>
      </div>
      <div class="consul-image-spacer">
        <img 
          src="/assets/img/sostenibilidad-consul.png"
          alt=""
          class=""
          id="sostenibilidad-consul-sdg"
        />
      </div>
    </div>
    <div class="information-card">
      <div class="information-text">
        <div class="paragraph-title">
          <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
          />
          <h2>Participación ciudadana para la regeneración urbana</h2>
        </div>
        <p>
          ENREDA tiene una amplia experiencia en el acompañamiento y diseño
          de procesos de participación ciudadana en el marco de programas de
          regeneración del espacio urbano: fomento de la movilidad sostenible,
          descarbonización, caminos escolares, etc.
        </p>
        <a 
          class="button-primary" 
          href="/servicios/participacion" 
          target="_blank">
          Quiero saber más
        </a>
      </div>
      <img 
      src="/assets/img/sostenibilidad-participacion.jpeg"
      alt=""
      class="information-card-img">
      </img>
    </div>
    <div class="information-card">
      <div class="information-text">
        <div class="paragraph-title">
          <img 
          src="/assets/img/anillo.svg"
          alt=""
          width="30"
          height="30"
          />
          <h2>Consultoría y formación estratégica</h2>
        </div>
        <p>
          ENREDA dispone de un equipo técnico con experiencia en el ámbito 
          de la sostenibilidad estratégica para apoyar a las organizaciones 
          que necesiten en el diseño de programas o planes. Además contamos
          con una red de colaboradores y expertos en áreas específicas para
          apoyarnos en la ejecución de proyectos de asistencia técnica y 
          formación a entidades públicas o privadas.
        </p>
        <a 
          class="button-primary" 
          href="/noticias/universidades-por-el-desarrollo-sostenible/" 
          target="_blank">
          Quiero saber más
        </a>
      </div>
      <img 
      src="/assets/img/sostenibilidad-formacion.jpeg"
      alt=""
      class="information-card-img">
      </img>
    </div>
  </section>
  <section class="projects">
    <h3>Proyectos destacados</h3>
    <div class="project-list">
      {% assign filteredProyectos = collections.proyecto | categoryFilter:
      "Sostenibilidad" %} {% for proyecto in filteredProyectos %} {% render
      "components/project-card.html", url: proyecto.url, image:
      proyecto.data.image, title: proyecto.data.title, subtitle:
      proyecto.data.subtitle, client: proyecto.data.client, ods:
      proyecto.data.ods, categories: proyecto.data.categories %} {% endfor %}
    </div>
    <a class="button-primary" href="/proyectos/"> Ver todos los proyectos </a>
  </section>
  <section class="other-services">
    <h3>Más servicios</h3>
    <div class="service-list">
      {% assign filteredServicios = collections.servicio | excludeServiceFilter:
      "Sostenibilidad" %} 
      {% for servicio in filteredServicios %} 
        <a href="{{ servicio.url }}">{{ servicio.data.title }}</a>
      {% endfor %}
    </div>
  </section>
</div>
