---
layout: base.html
css: ["/css/proyecto.css"]
---

<div class="proyecto">
  <div class="head">
    <img
      style="object-fit: cover; object-position: center"
      width="400"
      height="400"
      src="{{image}}"
      alt=""
    />
    <div>
      <h1>{{title}}</h1>
      <p class="subtitle">{{subtitle}}</p>
      <p class="client-label">Cliente</p>
      <p class="client-name">{{client}}</p>
      <div class="ods">
        {% for o in ods %}
        <img width="42" height="42" src="/assets/img/ods/{{ o }}.png" alt="" />
        {% endfor %}
      </div>
    </div>
  </div>
  <hr />
  <div class="body">
    <div class="brief">
      <h2>Brief</h2>
      <p class="content">{{summary}}</p>
    </div>
    <div class="description">
      <h2>Descripción</h2>
      <div class="content">{{content}}</div>
    </div>
  </div>
  <div class="categories">
    {% for category in categories %}
    <span>{{ category }}</span>
    {% endfor %}
  </div>
</div>
