.participacion section.servicios-participacion {
  width: 100%;
  margin-bottom: var(--citizen-gap);
  background-color: var(--primary);
}

.participacion section.servicios-participacion .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.56rem;
  margin: auto;
  padding: 3rem var(--layout-padding-x);
  max-width: 1920px;
}

.participacion section.servicios-participacion .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 18.75rem;
  margin: auto;
  padding: 2rem;
  gap: 1.5rem;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 0.81rem;
  box-shadow: 0 0.25rem 1.4375rem 0 rgba(0, 0, 0, 0.15);
}
.participacion section.servicios-participacion .cards .card img {
  width: 5.125rem;
  height: auto;
}
.participacion section.servicios-participacion .cards .card h4 {
  font-family: var(--title-font);
  font-size: 1rem;
  font-weight: 600;
  line-height: 147.1%; /* 23.536px */
  text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
  .participacion section.servicios-participacion .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .participacion section.servicios-participacion .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

.participacion section.digital {
  width: 100%;
  margin: auto;
  padding: var(--layout-padding-x);
  max-width: 1920px;
}

.participacion section.digital {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem var(--layout-padding-x);
}
.participacion section.digital h2 {
  font: var(--section-title-font);
  font-weight: 900;
  text-align: center;
  width: 100%;
  max-width: 50rem;
  margin-top: 1rem;
  margin-bottom: var(--section-title-margin-bottom);
}
.participacion section.digital p {
  font: var(--section-body-font);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 2.1rem */
  text-align: center;
  width: 100%;
  max-width: 68rem;
  margin-bottom: var(--section-body-margin-bottom);
}
.participacion section.digital img {
  width: 6rem;
  height: auto;
}
